*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --main-color: #426b69;
    --darker-shade: #493843;
    --darkest-shade: #121113;
    --lighter-shade: #E4E6C3;
    --lightest-shade: #F7F7F2;
    --got-hit: #CC2936;
    --white: #FFF;
}

html, body,
.main {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.main {
    display: grid;
    grid-template-rows: .25fr 2fr .25fr;
    grid-template-columns: .1fr 2fr 1fr 2fr .1fr;
    grid-template-areas: 
    "header header header header header"
    " . leftBoard controls rightBoard ."
    "footer footer footer footer footer";
    background: var(--darkest-shade);
    background: linear-gradient(45deg, var(--main-color) 0%, var(--lighter-shade) 100%); 
}

.header {
    grid-area: header;
    text-align: center;
    font-size: 3rem;
    margin-top: 10px;
    color: var(--lightest-shade);
}
.title {
    text-shadow: 2px 2px 5px var(--darkest-shade);
}
.menu > * {
    box-shadow: 2px 2px 4px var(--darkest-shade);
}



.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footCt > a {
    text-decoration: none;
    color: var(--darkest-shade);
}

.footCt > a:hover{
    cursor: pointer;
    color: var(--main-color);
}

#ships, #attacks {
    height: 100%;
    direction: rtl;
}

.gameboard > .ships {
    direction: ltr;
}

.gameboard, .gameboard > .ships {
    transform: rotate(180deg);
}

#ships {
    grid-area: leftBoard;
}

#attacks {
    grid-area: rightBoard;
}

#ships, #attacks {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.ships, .attacks{
    background-color: var(--lighter-shade);
}

.ships, .attacks, .placed, .bombed, .hit {
    margin: 2px;
    border-radius: 2px;
}

.ships:hover, .attacks:hover {
    cursor: pointer;
}

.ships:active, .attacks:active {
    background-color: var(--lightest-shade);
}

.placed {
    background-color: var(--darkest-shade);
}

.bombed {
    background-color: var(--main-color);
}

.hit {
    background-color: var(--got-hit);
}

.leftCellPlaced {
    background-color: var(--darker-shade);
}

.menu {
    grid-area: controls;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.score {
    font-size: 1.15rem;
}

.info {
    background-color: var(--lightest-shade);
    padding: 5px;
    margin: 0 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.75rem;
    min-height: 150px;
    min-width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shipBtn, .reset, .rotate, .random {
    background-color: var(--main-color);
    color: var(--white);
    font-weight: 600;
    border-radius: 5px;
    width: 66%;
    border: none;
    padding: 5px 0;
}

.shipBtn:hover, .reset:hover, .rotate:hover, .random:hover {
    cursor: pointer;
    background-color: var(--darkest-shade);
}

.shipBtn:active, .reset:active, .rotate:active, .random:active {
    background-color: var(--lightest-shade);
}

.harbor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ship {
    margin: 5px 0;
}

