*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --main-color: #AA5042;
    --darker-shade: #753742;
    --darkest-shade: #4F3130;
    --lighter-shade: #D8BD8A;
    --lightest-shade: #D8D78F;
}

html, body,
.main {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.main {
    display: grid;
    grid-template-rows: 1fr 5fr 0.5fr;
    grid-template-columns: 0.5fr 2fr 1fr 2fr .5fr;
    grid-template-areas: 
    "header header header header header"
    " . leftBoard controls rightBoard ."
    "footer footer footer footer footer";
}

.header {
    grid-area: header;
}

#left, #right {
    height: 100%;
    direction: rtl;
}

.gameboard > .cell {
    direction: ltr;
}

.gameboard, .gameboard > .cell {
    transform: rotate(180deg);
}

#left {
    grid-area: leftBoard;
}

#right {
    grid-area: rightBoard;
}

#left, #right {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}



.menu {
    grid-area: controls;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.score {
    font-size: 1.15rem;
}

.info {
    background-color: var(--lightest-shade);
    padding: 5px 10px;
    border-radius: 5px;
}

.harbor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ship {
    margin: 5px 0;
}

