*, *::after, *::before {
    box-sizing: border-box;
}

html, body,
.main {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.main {
    display: grid;
    grid-template-rows: 1fr 5fr 0.5fr;
    grid-template-columns: 0.5fr 2fr 1fr 2fr .5fr;
    grid-template-areas: 
    "header header header header header"
    " . leftBoard controls rightBoard ."
    "footer footer footer footer footer";
}

.header {
    grid-area: header;
}

#left {
    grid-area: leftBoard;
}

#right {
    grid-area: rightBoard;
}

.menu {
    grid-area: controls;
}